@import "./base/mixins";
@import "./base/reset.scss";
@import "./base/fontStyle.scss";
/*layout*/
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/banner.scss";
/*pages*/
@import "./pages/index.scss";
@import "./pages/_product.scss";
@import "./pages/location";
@import "./pages/QandA";

body {
  font-family: "my_font";
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  margin: 0 auto;
  max-width: 1110px;
}
h2 {
  font-size: 3rem;
  line-height: 4.188rem;
}
.d-flex {
  display: flex;
}
.flex-d-row-reverse {
  flex-direction: row-reverse;
}
.align-items-center {
  align-items: center;
}
.justify-content-s-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.index-classicProduct h3{
  max-width: 40%;
  .w-daimond,.w-sun,.w-thunder{
    display: none  ;
  }
} 



@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }

  .index-features ul {
    padding: 0 10%;
    flex-wrap: wrap;
  }
  .index-features li {
    width: 40%;
  }
  .index-classicProduct ul {
    padding: 0 40px;
  }
  .index-classicProduct .flex-d-row-reverse {
    flex-direction: row;
  }
  .index-classicProduct h3.margin-r {
    margin-right: 0;
    margin-left: 30px;
  }
  .index-classicProduct .productImg {
    max-width: 60%;
  }
  .index-classicProduct .h3{
    max-width: 40%;
  }
  .footer {
    padding: 36px 40px 28px 40px;
  }
  .footer .logo {
    display: none;
  }
}
@media(max-width:920px){
  .index-classicProduct h3 {
    font-size: 28px;
    line-height: 37px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 29.5px 40px;
  }
  .index-classicProduct li{
    position: relative;
  }
  .index-classicProduct li .productImg{
    max-width: 100%;
    width: 100%;
  }
  .index-classicProduct h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    color: #fff;
    max-width: 100%;
  }
  .index-classicProduct h3.margin-r{
    margin: 0;
  }
  .index-classicProduct h3 {
    .diamond,.sun,.thunder{
      display: none;
    }
    .diamond-w,.sun-w,.thunder-w{
      display: inline-block  ;
    }
  }
  .index-jointNameDesign {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .index-jointNameDesign h2 {
    margin-bottom: 32px;
  }
  .index-jointNameDesign ul {
    padding: 0 40px;
  }
  .index-jointNameDesign li {
    .product-1,
    .product-2 {
      // width: 330px;
      height: 280px;
    }
    .product-1:before,
    .product-2:before {
      line-height: 43px;
      font-size: 32px;
    }
  }
  .index-customerPush {
    padding-bottom: 36px;
  }
  .index-customerPush ul {
    padding: 0 40px;
    flex-wrap: wrap;
  }
  .index-customerPush li {
    width: calc(50% - 15px);
    margin-bottom: 28px;
  }
  .index-customerPush img {
    width: 100%;
  }
  .index-contactUs .container {
    width: 80%;
  }
  .index-contactUs button {
    max-width: 350px;
    width: 80%;
  }
  .footer .nav li {
    margin-right: 40px;
  }
  .footer .media li {
    margin-right: 24px;
    width: 22px;
  }
  .footer .contact-Information li {
    line-height: 26px;
    font-size: 20px;
  }
  .footer .contact-Information .icon-phone {
    width: 24px;
    margin-right: 12px;
  }
  .footer .contact-Information .icon-mail {
    width: 32px;
    margin-right: 8px;
  }
  .footer .terms li:first-child {
    margin-right: 24px;
  }
}
@media(max-width:632px){
 
}
@media (max-width: 400px) {
  html {
    font-size: 8px;
}
  .header{
    flex-direction: column;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .header .logo{
    width: 48px;
    padding: 10px 0;
  }
  .header .nav{
    flex-wrap: wrap;
    width: 100%;
  }
  .header .nav li{
    width: calc(50% - 2px);
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    line-height:28px;
    padding:10px 0;
  }
  .index-banner{
    max-height: 394px;
    background: url(../images/index/banner-sm.png) no-repeat;
  }
  .index-features ul{
    padding: 0 69px;
  }
  .index-features li{
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .index-features li img {
    width: 80px;
    display: inline-block;
    margin-bottom:16px;
  }
  .index-features li h4 {
    line-height:28px;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .index-features li {
    width: 100%;
  }
 
  .index-jointNameDesign ul{
    padding: 0 15px;
    flex-wrap: wrap;
  }
  .index-jointNameDesign li{
    width: 100%;
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .index-customerPush h2{
    margin-bottom: 20px;
  }
  .index-customerPush ul{
    padding: 0 15px;
  }
  .index-customerPush li{
    width: 100%;
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .index-contactUs .container {
    width: calc(100% - 30px);
  }
  .footer{
    position: relative;
    padding :36px 15px 28px 15px;
  }
  .footer .nav{
    display: none;
  }
  .footer .link-wrap{
    position: absolute;
    right: 15px;
  }
  .footer .contact-Information{
    padding-bottom: 24px;
  }
  .footer .contact-Information li{
    line-height:21px;
    font-size: 16px;
  }
  .footer .contact-Information .icon-phone,.footer .contact-Information .icon-mail{
    width: 20px;
  }
  .footer .copyright-wrap{
    flex-direction: column;
    position: relative;
  }
  .footer .copyright{
    margin-bottom: 7px;
  }
  .footer .logo{
    display: block;
    width: 46px;
    position: absolute;
    right: 15px;
    bottom: 0;
    margin: 0;
  }
  .footer .terms{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .terms li:first-child{
    margin-right: 0;
    margin-bottom: 7px;
  }

}
