.layout-pages{
    line-height:26px;
    margin-bottom: 159px;
    li{
        font-size: 18px;
        line-height:24px;
        border: 1px solid #555555;
        padding: 12px;
        color: #555555;
        cursor: pointer;
        &:hover{
            color: #fff;
            background: #000;
            border-color: #000;
        }
    }
    .prev,.next{
        font-weight: bold;
    }
    .next{
        background: #F2F2F2;
    }
}