.menu{
    padding: 32px 0 0 32px;
    background: #EDF4EE;
    height: 100vh;
    .logo{
        width: 151px;
        height: 40px;
        background: url(./../images/logo-ANSWER.svg)no-repeat;
        background-size: cover;
        margin-bottom: 32px;
        cursor: pointer;
    }
    li{
        line-height: 30px;
        margin-bottom: 26px;
        color: #000;
        &:last-child{
            margin-bottom: 0;
        }
    }
    li i{
        vertical-align: middle;
        padding-bottom: 2px;
        margin-right: 16px;
    }
    li a:hover{
        color: #2A8356;
    }
}